<div class="text-sm font-medium w-11/12 mx-auto p-5 bg-white rounded-md mt-4 xl:w-10/12 shadow">
  <!-- Delete Alert -->
  <ng-template #deletedAlert> Employee has been deleted </ng-template>
  <!-- End Of Delete Alert -->
  <!-- Delete Alert -->
  <ng-template #editedAlert> Employee edited successfull </ng-template>
  <!-- End Of Delete Alert -->

  <div class="flex justify-between items-center my-4">
    <div class="font-bold text-2xl">Employee List</div>
    <button
    (click)="addPage()"
      class="bg-blue-500 rounded text-white p-2 text-sm hover:bg-blue-400 hover:duration-200 transition lg:w-1/12"
    >
      <i class="fas fa-plus"></i> Add
    </button>
  </div>
  <div class="my-3 flex flex-col gap-3">
    <div>
      <input
        [(ngModel)]="nameSearch"
        (input)="search()"
        type="text"
        name="name"
        [value]=""
        class="form-control text-sm px-3 py-2 bg-white border shadow-sm border-slate-300 placeholder-slate-400 disabled:bg-slate-50 disabled:text-slate-500 disabled:border-slate-200 focus:outline-none focus:border-sky-500 focus:ring-sky-500 block w-full rounded-md sm:text-sm focus:ring-1 invalid:border-pink-500 invalid:text-pink-600 focus:invalid:border-pink-500 focus:invalid:ring-pink-500 disabled:shadow-none"
        placeholder="Search by name"
      />
    </div>
    <div>
      <input
        [(ngModel)]="groupSearch"
        (input)="search()"
        type="text"
        name="group"
        class="form-control text-sm px-3 py-2 bg-white border shadow-sm border-slate-300 placeholder-slate-400 disabled:bg-slate-50 disabled:text-slate-500 disabled:border-slate-200 focus:outline-none focus:border-sky-500 focus:ring-sky-500 block w-full rounded-md sm:text-sm focus:ring-1 invalid:border-pink-500 invalid:text-pink-600 focus:invalid:border-pink-500 focus:invalid:ring-pink-500 disabled:shadow-none"
        placeholder="Search by group"
      />
    </div>
  </div>
  <table class="table-auto w-full font-normal text-base mt-4">
    <thead>
      <tr>
        <th class="text-start cursor-pointer" (click)="sortBy('id')">
          ID <i class="fa-solid fa-sort text-xs"></i>
        </th>
        <th class="text-start">Name</th>
        <th class="text-start cursor-pointer" (click)="sortBy('group')">
          Group <i class="fa-solid fa-sort text-xs"></i>
        </th>
        <th class="text-center">Action</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let employee of employees; let i = index" class="border-b">
        <th class="text-start">{{ employee.id }}</th>
        <td>{{ employee.firstName }}</td>
        <td>{{ employee.group }}</td>
        <td class="flex justify-center gap-2 items-center py-3">
          <button
            (click)="editEmployee(editedAlert)"
            class="bg-yellow-500 rounded p-2 text-white w-9 h-9 hover:bg-yellow-400 transition"
          >
            <i class="fas fa-pencil"></i>
          </button>
          <button
            (click)="deleteEmployee(deletedAlert)"
            class="bg-red-500 rounded p-2 text-white w-9 h-9 hover:bg-red-400 transition"
          >
            <i class="fas fa-trash"></i>
          </button>
          <button
            (click)="getDetail(employee.id)"
            class="bg-blue-500 rounded p-2 text-white w-9 h-9 hover:bg-blue-400 transition"
          >
            <i class="fas fa-eye"></i>
          </button>
        </td>
      </tr>
    </tbody>
  </table>
  <!-- Pagination -->
  <div class="flex justify-between items-center mt-4">
    <div
      class="bg-slate-50 border border-blue-400 text-black px-3 py-1 rounded mr-2"
    >
      Limit
      <select id="pageSizeSelect" class="form-control" (change)="onPageSizeChange($event)">
        <option value="10">10</option>
        <option value="20">20</option>
        <option value="50">50</option>
        <option value="100">100</option>
      </select>
    </div>

    <div class="text-end">
      <button
        class="bg-slate-50 border border-blue-400 text-black px-3 py-1 rounded mr-2 disabled:bg-gray-300 disabled:text-gray-700 disabled:border-white disabled:cursor-not-allowed"
        [disabled]="currentPage === 1"
        (click)="onPageChange(currentPage - 1)"
      >
        <i class="fa-solid fa-caret-left"></i> Prev
      </button>
      <button class="bg-slate-100 text-gray-700 px-3 py-1 rounded mr-2">
        {{ currentPage }}
      </button>
      <button
        class="bg-slate-50 border border-blue-400 text-black px-3 py-1 rounded mr-2 disabled:bg-gray-300 disabled:text-gray-700 disabled:border-white disabled:cursor-not-allowed"
        [disabled]="totalPages <= currentPage"
        (click)="onPageChange(currentPage + 1)"
      >
        Right <i class="fa-solid fa-caret-right"></i>
      </button>
    </div>
  </div>
</div>
