<div class="bg-slate-100 min-h-screen flex justify-center items-center">
  <div
    class="w-10/12 py-8 px-4 bg-white shadow rounded-lg flex flex-col gap-4 font-medium lg:w-1/2 xl:w-1/4"
  >
    <div class="text-center font-extrabold text-2xl">Angular <span class="text-blue-500">Login</span></div>
    <form
      [formGroup]="loginForm"
      (ngSubmit)="onSubmit()"
      class="flex flex-col gap-8"
    >
      <div *ngIf="wrongError" class="rounded border border-red-400 bg-red-200 font-normal text-base p-4 text-red-700">Username or Password Incorrect</div>
      <div *ngIf="nullError" class="rounded border border-red-400 bg-red-200 font-normal text-base p-4 text-red-700">Username and Password are required</div>
      <div class="form-group w-full">
        <div class="text-base mb-2">Username</div>
        <input
          type="text"
          name="username"
          class="form-control px-3 py-2 bg-white border shadow-sm border-slate-300 placeholder-slate-400 disabled:bg-slate-50 disabled:text-slate-500 disabled:border-slate-200 focus:outline-none focus:border-sky-500 focus:ring-sky-500 block w-full rounded-md sm:text-sm focus:ring-1 invalid:border-pink-500 invalid:text-pink-600 focus:invalid:border-pink-500 focus:invalid:ring-pink-500 disabled:shadow-none"
          placeholder="Enter your username"
          formControlName="username"
        />
      </div>
      <div class="form-group w-full">
        <div class="text-base mb-2">Password</div>
        <input
          type="password"
          name="password"
          class="form-control px-3 py-2 bg-white border shadow-sm border-slate-300 placeholder-slate-400 disabled:bg-slate-50 disabled:text-slate-500 disabled:border-slate-200 focus:outline-none focus:border-sky-500 focus:ring-sky-500 block w-full rounded-md sm:text-sm focus:ring-1 invalid:border-pink-500 invalid:text-pink-600 focus:invalid:border-pink-500 focus:invalid:ring-pink-500 disabled:shadow-none"
          placeholder="Enter your password"
          formControlName="password"
        />
      </div>

      <button
        type="submit"
        class="rounded bg-blue-500 text-white w-full py-2 hover:bg-blue-400 hover:duration-200 transition"
      >
        Login
      </button>
    </form>
  </div>
</div>
