<div class="text-sm lg:text-base font-medium w-11/12 mx-auto p-5 bg-white rounded-md mt-4 xl:w-10/12 shadow">
  <button
    (click)="clickBack()"
    class="btn-outline-dark bg-transparent p-2 hover:bg-slate-900 hover:text-white rounded transition"
  >
    Back
  </button>
  <div class="my-4">
    <div class="font-bold text-2xl my-2">Employee Detail</div>
  </div>
  <form (ngSubmit)="onSubmit()">
    <div class="grid grid-cols-1 lg:grid-cols-2 gap-0 lg:gap-3">
      <div class="mb-3">
        <label for="username" class="form-label">Username</label>
        <input
          disabled="true"
          type="text"
          id="username"
          name="username"
          class="form-control px-3 py-2 my-3 text-sm bg-white border shadow-sm border-slate-300 placeholder-slate-400 disabled:bg-slate-50 disabled:text-slate-500 disabled:border-slate-200 focus:outline-none focus:border-sky-500 focus:ring-sky-500 block w-full rounded-md sm:text-sm focus:ring-1 invalid:border-pink-500 invalid:text-pink-600 focus:invalid:border-pink-500 focus:invalid:ring-pink-500 disabled:shadow-none"
          placeholder="Enter your username"
          [(ngModel)]="employee.username"
        />
      </div>
      <div class="mb-3">
        <label for="firstName" class="form-label">First Name</label>
        <input
          disabled="true"
          type="text"
          id="firstName"
          name="firstName"
          class="form-control px-3 py-2 my-3 text-sm bg-white border shadow-sm border-slate-300 placeholder-slate-400 disabled:bg-slate-50 disabled:text-slate-500 disabled:border-slate-200 focus:outline-none focus:border-sky-500 focus:ring-sky-500 block w-full rounded-md sm:text-sm focus:ring-1 invalid:border-pink-500 invalid:text-pink-600 focus:invalid:border-pink-500 focus:invalid:ring-pink-500 disabled:shadow-none"
          [(ngModel)]="employee.firstName"
        />
      </div>
      <div class="mb-3">
        <label for="lastName" class="form-label">Last Name</label>
        <input
          disabled="true"
          type="text"
          id="lastName"
          name="lastName"
          class="form-control px-3 py-2 my-3 text-sm bg-white border shadow-sm border-slate-300 placeholder-slate-400 disabled:bg-slate-50 disabled:text-slate-500 disabled:border-slate-200 focus:outline-none focus:border-sky-500 focus:ring-sky-500 block w-full rounded-md sm:text-sm focus:ring-1 invalid:border-pink-500 invalid:text-pink-600 focus:invalid:border-pink-500 focus:invalid:ring-pink-500 disabled:shadow-none"
          [(ngModel)]="employee.lastName"
        />
      </div>
      <div class="mb-3">
        <label for="email" class="form-label">Email</label>
        <input
          disabled="true"
          type="email"
          id="email"
          name="email"
          class="form-control px-3 py-2 my-3 text-sm bg-white border shadow-sm border-slate-300 placeholder-slate-400 disabled:bg-slate-50 disabled:text-slate-500 disabled:border-slate-200 focus:outline-none focus:border-sky-500 focus:ring-sky-500 block w-full rounded-md sm:text-sm focus:ring-1 invalid:border-pink-500 invalid:text-pink-600 focus:invalid:border-pink-500 focus:invalid:ring-pink-500 disabled:shadow-none"
          [(ngModel)]="employee.email"
        />
      </div>
      <div class="mb-3">
        <label for="birthDate" class="form-label">Birth Date</label>
        <input
          disabled="true"
          type="date"
          id="birthDate"
          name="birthDate"
          class="form-control px-3 py-2 my-3 text-sm bg-white border shadow-sm border-slate-300 placeholder-slate-400 disabled:bg-slate-50 disabled:text-slate-500 disabled:border-slate-200 focus:outline-none focus:border-sky-500 focus:ring-sky-500 block w-full rounded-md sm:text-sm focus:ring-1 invalid:border-pink-500 invalid:text-pink-600 focus:invalid:border-pink-500 focus:invalid:ring-pink-500 disabled:shadow-none"
          [value]="formatDate(employee.birthDate)"
        />
      </div>
      <div class="mb-3">
        <label for="basicSalary" class="form-label">Basic Salary</label>
        <input
          disabled="true"
          type="text"
          id="basicSalary"
          name="basicSalary"
          class="form-control px-3 py-2 my-3 text-sm bg-white border shadow-sm border-slate-300 placeholder-slate-400 disabled:bg-slate-50 disabled:text-slate-500 disabled:border-slate-200 focus:outline-none focus:border-sky-500 focus:ring-sky-500 block w-full rounded-md sm:text-sm focus:ring-1 invalid:border-pink-500 invalid:text-pink-600 focus:invalid:border-pink-500 focus:invalid:ring-pink-500 disabled:shadow-none"
          [value]="employee.basicSalary | currencyFormat"
          class="form-control px-3 py-2 my-3 text-sm bg-white border shadow-sm border-slate-300 placeholder-slate-400 disabled:bg-slate-50 disabled:text-slate-500 disabled:border-slate-200 focus:outline-none focus:border-sky-500 focus:ring-sky-500 block w-full rounded-md sm:text-sm focus:ring-1 invalid:border-pink-500 invalid:text-pink-600 focus:invalid:border-pink-500 focus:invalid:ring-pink-500 disabled:shadow-none"
        />
      </div>
      <div class="mb-3">
        <label for="status" class="form-label">Status</label>
        <input
          disabled="true"
          type="text"
          id="status"
          name="status"
          class="form-control px-3 py-2 my-3 text-sm bg-white border shadow-sm border-slate-300 placeholder-slate-400 disabled:bg-slate-50 disabled:text-slate-500 disabled:border-slate-200 focus:outline-none focus:border-sky-500 focus:ring-sky-500 block w-full rounded-md sm:text-sm focus:ring-1 invalid:border-pink-500 invalid:text-pink-600 focus:invalid:border-pink-500 focus:invalid:ring-pink-500 disabled:shadow-none"
          [(ngModel)]="employee.status"
        />
      </div>
      <div class="mb-3">
        <label for="group" class="form-label">Group</label>
        <input
          disabled="true"
          type="text"
          id="group"
          name="group"
          class="form-control px-3 py-2 my-3 text-sm bg-white border shadow-sm border-slate-300 placeholder-slate-400 disabled:bg-slate-50 disabled:text-slate-500 disabled:border-slate-200 focus:outline-none focus:border-sky-500 focus:ring-sky-500 block w-full rounded-md sm:text-sm focus:ring-1 invalid:border-pink-500 invalid:text-pink-600 focus:invalid:border-pink-500 focus:invalid:ring-pink-500 disabled:shadow-none"
          [(ngModel)]="employee.group"
        />
      </div>
      <div class="mb-3">
        <label for="description" class="form-label">Description</label>
        <textarea
          disabled="true"
          id="description"
          name="description"
          class="form-control px-3 py-2 my-3 text-sm bg-white border shadow-sm border-slate-300 placeholder-slate-400 disabled:bg-slate-50 disabled:text-slate-500 disabled:border-slate-200 focus:outline-none focus:border-sky-500 focus:ring-sky-500 block w-full rounded-md sm:text-sm focus:ring-1 invalid:border-pink-500 invalid:text-pink-600 focus:invalid:border-pink-500 focus:invalid:ring-pink-500 disabled:shadow-none"
          [(ngModel)]="employee.description"
        ></textarea>
      </div>
    </div>

    <div
      class="flex flex-col-reverse justify-end items-center lg:w-full lg:flex-row gap-4"
    >
      <button
        type="button"
        class="btn bg-gray-300 hover:bg-gray-600 hover:text-white transition py-2 w-full lg:w-1/6 block"
        (click)="clickBack()"
      >
        Cancel
      </button>
      <button
        type="submit"
        class="rounded bg-blue-500 text-white w-full py-2 hover:bg-blue-400 hover:duration-200 transition lg:w-1/6"
      >
        Submit
      </button>
    </div>
  </form>
</div>
