<div *ngIf="onLogin()">
  <div class="bg-black text-white w-full font-semibold">
    <div class="p-4 w-11/12 mx-auto flex justify-end xl:w-10/12 shadow">
      <button (click)="onLogout()" type="button" class="btn rounded hover:bg-slate-100 hover:text-black transition p-3 "> <i class="fa-solid fa-right-from-bracket"></i> Logout</button>
    </div>
  </div>
  <div class="flex flex-col text-xl font-medium w-11/12 mx-auto pt-8 gap-2 lg:text-2xl xl:w-10/12">
    <div>Selamat datang kembali</div>
    <div class="font-bold text-blue-500">{{ getUsername() }}</div>
    <hr class="mt-4" />
  </div>
</div>

<router-outlet></router-outlet>
<app-toasts></app-toasts>
