<div
  class="text-sm lg:text-base font-medium w-11/12 mx-auto p-5 bg-white rounded-md mt-4 xl:w-10/12 shadow"
>
  <div class="my-4">
    <button
      (click)="clickBack()"
      class="btn-outline-dark bg-transparent p-2 hover:bg-slate-900 hover:text-white rounded transition"
    >
      Back
    </button>
    <div class="font-bold text-2xl my-2">Employee Detail</div>
  </div>
  <form #employeeForm="ngForm" (ngSubmit)="onSubmit(employeeForm)">
    <div class="grid grid-cols-1 lg:grid-cols-2 gap-0 lg:gap-3">
      <div class="mb-3">
        <label for="username" class="form-label">Username</label>
        <input
          type="text"
          id="username"
          name="username"
          class="form-control px-3 py-2 my-3 text-sm bg-white border shadow-sm border-slate-300 placeholder-slate-400 disabled:bg-slate-50 disabled:text-slate-500 disabled:border-slate-200 focus:outline-none focus:border-sky-500 focus:ring-sky-500 block w-full rounded-md sm:text-sm focus:ring-1 invalid:border-pink-500 invalid:text-pink-600 focus:invalid:border-pink-500 focus:invalid:ring-pink-500 disabled:shadow-none"
          placeholder="Enter your username"
          [(ngModel)]="employee.username"
          required
          #username="ngModel"
          [ngClass]="{ 'is-invalid': username.invalid && username.touched }"
        />
        <div
          *ngIf="username.invalid && username.touched"
          class="invalid-feedback"
        >
          Username is required.
        </div>
      </div>

      <div class="mb-3">
        <label for="firstName" class="form-label">First Name</label>
        <input
          type="text"
          id="firstName"
          name="firstName"
          class="form-control px-3 py-2 my-3 text-sm bg-white border shadow-sm border-slate-300 placeholder-slate-400 disabled:bg-slate-50 disabled:text-slate-500 disabled:border-slate-200 focus:outline-none focus:border-sky-500 focus:ring-sky-500 block w-full rounded-md sm:text-sm focus:ring-1 invalid:border-pink-500 invalid:text-pink-600 focus:invalid:border-pink-500 focus:invalid:ring-pink-500 disabled:shadow-none"
          placeholder="Enter your first name"
          [(ngModel)]="employee.firstName"
          required
          #firstName="ngModel"
          [ngClass]="{ 'is-invalid': firstName.invalid && firstName.touched }"
        />
        <div
          *ngIf="firstName.invalid && firstName.touched"
          class="invalid-feedback"
        >
          First name is required.
        </div>
      </div>

      <div class="mb-3">
        <label for="lastName" class="form-label">Last Name</label>
        <input
          type="text"
          id="lastName"
          name="lastName"
          class="form-control px-3 py-2 my-3 text-sm bg-white border shadow-sm border-slate-300 placeholder-slate-400 disabled:bg-slate-50 disabled:text-slate-500 disabled:border-slate-200 focus:outline-none focus:border-sky-500 focus:ring-sky-500 block w-full rounded-md sm:text-sm focus:ring-1 invalid:border-pink-500 invalid:text-pink-600 focus:invalid:border-pink-500 focus:invalid:ring-pink-500 disabled:shadow-none"
          placeholder="Enter your last name"
          [(ngModel)]="employee.lastName"
          required
          #lastName="ngModel"
          [ngClass]="{ 'is-invalid': lastName.invalid && lastName.touched }"
        />
        <div
          *ngIf="lastName.invalid && lastName.touched"
          class="invalid-feedback"
        >
          Last name is required.
        </div>
      </div>

      <div class="mb-3">
        <label for="email" class="form-label">Email</label>
        <input
          type="email"
          id="email"
          name="email"
          class="form-control px-3 py-2 my-3 text-sm bg-white border shadow-sm border-slate-300 placeholder-slate-400 disabled:bg-slate-50 disabled:text-slate-500 disabled:border-slate-200 focus:outline-none focus:border-sky-500 focus:ring-sky-500 block w-full rounded-md sm:text-sm focus:ring-1 invalid:border-pink-500 invalid:text-pink-600 focus:invalid:border-pink-500 focus:invalid:ring-pink-500 disabled:shadow-none"
          placeholder="Enter your email"
          [(ngModel)]="employee.email"
          required
          email
          #email="ngModel"
          [ngClass]="{ 'is-invalid': email.invalid && email.touched }"
        />
        <div *ngIf="email.invalid && email.touched" class="invalid-feedback">
          Enter a valid email.
        </div>
      </div>

      <div class="mb-3">
        <label for="birthDate" class="form-label">Birth Date</label>
        <input
          type="date"
          id="birthDate"
          name="birthDate"
          class="form-control px-3 py-2 my-3 text-sm bg-white border shadow-sm border-slate-300 placeholder-slate-400 disabled:bg-slate-50 disabled:text-slate-500 disabled:border-slate-200 focus:outline-none focus:border-sky-500 focus:ring-sky-500 block w-full rounded-md sm:text-sm focus:ring-1 invalid:border-pink-500 invalid:text-pink-600 focus:invalid:border-pink-500 focus:invalid:ring-pink-500 disabled:shadow-none"
          [(ngModel)]="employee.birthDate"
          required
          #birthDate="ngModel"
          [ngClass]="{ 'is-invalid': birthDate.invalid && birthDate.touched }"
          [max]="today"
        />
        <div
          *ngIf="birthDate.invalid && birthDate.touched"
          class="invalid-feedback"
        >
          Birth date is required and cannot be in the future.
        </div>
      </div>

      <div class="mb-3">
        <label for="basicSalary" class="form-label">Basic Salary</label>
        <input
          type="number"
          id="basicSalary"
          name="basicSalary"
          class="form-control px-3 py-2 my-3 text-sm bg-white border shadow-sm border-slate-300 placeholder-slate-400 disabled:bg-slate-50 disabled:text-slate-500 disabled:border-slate-200 focus:outline-none focus:border-sky-500 focus:ring-sky-500 block w-full rounded-md sm:text-sm focus:ring-1 invalid:border-pink-500 invalid:text-pink-600 focus:invalid:border-pink-500 focus:invalid:ring-pink-500 disabled:shadow-none"
          placeholder="Enter your basic salary"
          [(ngModel)]="employee.basicSalary"
          required
          #basicSalary="ngModel"
          [ngClass]="{
            'is-invalid': basicSalary.invalid && basicSalary.touched
          }"
        />
        <div
          *ngIf="basicSalary.invalid && basicSalary.touched"
          class="invalid-feedback"
        >
          Basic salary must be a valid number.
        </div>
      </div>

      <div class="mb-3">
        <label for="group" class="form-label">Group</label>
        <div class="relative flex flex-col">
          <input
            type="text"
            id="searchGroup"
            name="searchGroup"
            class="form-control px-3 py-2 my-3 text-sm bg-white border shadow-sm border-slate-300 placeholder-slate-400 focus:outline-none focus:border-sky-500 focus:ring-sky-500 w-full rounded-md sm:text-sm focus:ring-1"
            placeholder="Search group"
            [(ngModel)]="searchText"
            (ngModelChange)="filterGroups()"
            (focus)="showDropdown = true"
            #searchGroupInput
          />
          <select
            *ngIf="showDropdown"
            id="group"
            name="group"
            class="form-control absolute -top-24 text-sm bg-white border shadow-sm border-slate-300 focus:outline-none focus:border-sky-500 focus:ring-sky-500 rounded-md sm:text-sm focus:ring-1"
            [(ngModel)]="employee.group"
            (change)="onGroupSelectionChange($event)"
            required
            #group="ngModel"
            [ngClass]="{ 'is-invalid': group.invalid && group.touched }"
            size="5"
            multiple
            [style.width.px]="searchGroupInput.offsetWidth"
          >
            <option *ngFor="let grp of filteredGroups" [value]="grp">
              {{ grp }}
            </option>
          </select>
        </div>
      </div>

      <div class="mb-3">
        <label for="description" class="form-label">Description</label>
        <textarea
          id="description"
          name="description"
          class="form-control px-3 py-2 my-3 text-sm bg-white border shadow-sm border-slate-300 placeholder-slate-400 disabled:bg-slate-50 disabled:text-slate-500 disabled:border-slate-200 focus:outline-none focus:border-sky-500 focus:ring-sky-500 block w-full rounded-md sm:text-sm focus:ring-1 invalid:border-pink-500 invalid:text-pink-600 focus:invalid:border-pink-500 focus:invalid:ring-pink-500 disabled:shadow-none"
          placeholder="Enter a description"
          [(ngModel)]="employee.description"
          required
          #description="ngModel"
          [ngClass]="{
            'is-invalid': description.invalid && description.touched
          }"
        ></textarea>
        <div
          *ngIf="description.invalid && description.touched"
          class="invalid-feedback"
        >
          Description is required.
        </div>
      </div>
    </div>

    <div class="flex flex-col-reverse justify-end items-center lg:w-full lg:flex-row gap-4">
      <button
        type="button"
        class="btn bg-gray-300 hover:bg-gray-600 hover:text-white transition py-2 w-full lg:w-1/6 block"
        (click)="clickBack()"
      >
        Cancel
      </button>
      <button
        type="submit"
        class="rounded bg-blue-500 text-white w-full py-2 hover:bg-blue-400 hover:duration-200 transition disabled:cursor-not-allowed disabled:opacity-50 lg:w-1/6 block"
        [disabled]="!employeeForm.valid"
      >
        Create
      </button>
    </div>
  </form>
</div>
