@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

* {
  font-family: "Montserrat", sans-serif;
}
body {
  background-color: rgb(241, 245, 249);
}

/* Toast container styles */
.toast-container {
  position: fixed;
  top: 1rem;
  right: 1rem;
  z-index: 1200;
}

/* Toast styles */
.toast {
  width: 300px;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

.toast.show {
  opacity: 1;
}

.toast-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.5rem 1rem;
  background-color: #f8f9fa;
  border-bottom: 1px solid #dee2e6;
  border-top-left-radius: 0.25rem;
  border-top-right-radius: 0.25rem;
}

.toast-body {
  padding: 0.5rem 1rem;
}

.toast .btn-close {
  padding: 0.25rem 0.75rem;
  background: none;
  border: 0;
}
